/* Basic Style */
h1, h2, p {
  font-family: sans-serif;
}

h1 {
  font-size: 22px !important;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 30px !important;
  margin-top: 10px;
}

body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  background: #edf1f2;
  height: 100vh;
  margin: 0px !important;
  width: 100% !important;
}
.calculator-container {
  background: #fff;
  width: 80%;
  min-height: 500px;
  padding: 20px;
  margin: 100px auto 0px auto;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
#new-property {
  margin-bottom: 40px;
}
button {
  font-family: Lato, sans-serif;
}
input {
  margin-bottom: 16px !important;
}

.small-label {
  font-size: 12px;
  margin-bottom: 2px;
  color: #909090;
  font-weight: bold;
}