body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-image: url('img/background-image.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0;
}

.profile-picture {
  width: 50%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {

  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  transition: .25s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.img-container {
  position: relative;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link+.card-link {
    margin-left: 0rem !important;
}

.card-link:hover {
  color:inherit;
}

.card-link:hover .card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .16);
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
